<div class="home-body">

  <div class="home-wrapper">

    <div class="header">
      <div id="header-home">Superhero Movie Rater </h1></div>
    </div>

    <h1 id="header-slogan">Your #1 source for rating superhero movies </h1>

      <div class="form">

        <div class="tab-content">
          <div id="login">
            <h1 id="welcome">Welcome Back!</h1>

            <form>
              <div class="field-wrap">
                <label>
                  Username<span class="req">*</span>
                </label>
                <input type="text" ng-model="username">
            </div>

            <div class="field-wrap">
              <label>
                Password<span class="req">*</span>
              </label>
              <input type="password" ng-model="password">
            </div>

            </form>

            <div class="error-message" ng-show="error">
              Invalid credentials
            </div>

            <button class="button button-block" ng-click="login()">Log In</button>
            <p class="login"><a href="/#/signup">Not a member yet? Sign up</a></p>

          </div>

        </div><!-- tab-content -->

    </div> <!-- /form -->
  </div>
</div>
