<div class="signup-body">

  <div class="signup-wrapper">

    <div class="signup-header">
      <div id="header-page">The Super Movie Rater </h1></div>
    </div>

    <div class="tab-content">
       <div id="signup">
         <h1>Sign Up for Free</h1>

           <div class="field-wrap">
             <label>
               First Name<span class="req">*</span>
             </label>
             <input ng-model="signupfirstName">
           </div>

           <div class="field-wrap">
             <label>
               Last Name<span class="req">*</span>
             </label>
             <input ng-model="signuplastName">
           </div>

         <div class="field-wrap">
           <label>
             Username<span class="req">*</span>
           </label>
           <input ng-model="signupUsername">
         </div>

         <div class="field-wrap">
           <label>
             Set A Password<span class="req">*</span>
           </label>
           <input ng-model="signupPassword">
         </div>

         <button class="button button-block">Get Started</button>
         <p class="signup"><a href="/#/login">Back to log in?</a></p>

       </div>
    </div>
  </div>
</div>
