#main-wrapper {
  width: 1000px;
  height: 50px;
  background-color: #4f8ca5;
  color: white;
  text-align: center;
}

.content-items{
  border-style: groove;
  width: 500px;
  height: 60px;
}

.button-details{
  display: inline-block;
}

.star {
    background: url('starEmpty.png') no-repeat;
    background-color: gray;
    float:      left;
    height:     24px;
    padding:    2px;
    width:      24px;
    margin: 2px;
}

.star1 {
    background-color: yellow;
}


.review-wrapper {
    border:     1px solid #CCC;
    overflow:   visible;
    padding:    10px;
    position:   relative;
    width:      170px;
    height:     24px;
    background-color: white;
    border-radius: 5px;
}

.review-wrapper:hover{
    border:     1px solid #666;
}

.review {
    background: #eaeaea;
    top: 58px;
    left: 0;
    padding: 5px;
    position:   absolute; 
    float: left;
} 


