body {
  background-color: #ccc;
}
/* ids */
#main-div {
  background-color: green;
  /* descriptor : value */
}

/* classes */
.thinc {
  border: solid 3px;
}

body{
  margin: auto;
}

.slide {
  width: 100%;
  height: 250px;
  background-color: yellow;
  transition: background-color 1s ease-out;
}

.slide:hover{
  background-color: red;
}

.card{
  width: 49%;
  height: auto;
  margin: 2px;
  float: left;
}

.lineal-box {


}

/*
* Box model margin, border, padding, element
*
*
*/
